<nav class='topbar'>
  <a [routerLink]="['/home']" class='flex items-center gap-3'>
    <img alt='logo' height='40' src='/assets/donut.png' width='40'/>
    <p class='text-heading2-bold text-dark-1 max-xs:hidden'>norman.io</p>
  </a>

  <div *ngIf="!isSignedIn" class="flex flex-row gap-5 mt-2">
    <a [routerLink]="['/']" class="cursor-pointer">
      <p class='text-body-normal text-dark-4 ease-out duration-200 hover:text-pink-600 max-xs:hidden'>Features</p>
    </a>
    <a [routerLink]="['/']" class="cursor-pointer">
      <p class='text-body-normal text-dark-4 ease-out duration-200 hover:text-pink-600 max-xs:hidden'>How it
        works</p>
    </a>
    <a [routerLink]="['/']" class="cursor-pointer">
      <p class='text-body-normal text-dark-4 ease-out duration-200 hover:text-pink-600 max-xs:hidden'>About Us</p>
    </a>
    <a [routerLink]="['/']" class="cursor-pointer">
      <p class='text-body-normal text-dark-4 ease-out duration-200 hover:text-pink-600 max-xs:hidden'>Contact Us</p>
    </a>
  </div>

  <div class='flex items-center gap-3 mt-2'>
    <button (click)="toggleModal()" *ngIf="!isSignedIn"
            [routerLink]="['/sign-in']"
            class="flex flex-row ease-in-out text-indigo-500 text-base-medium bg-indigo-100/90 border-2 border-indigo-200/30 rounded-3xl px-6 py-2 max-md:hidden shadow-md">Sign in
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </button>

    <div class="flex flex-row gap-2 md:hidden">
      <div class="flex cursor-pointer">
        <button (click)="signIn()" *ngIf="!isSignedIn" [routerLink]="['/home']">
          <img alt="logout" height={24} src="/assets/assets/user.svg" width={24}>
        </button>
      </div>
      <a (click)="signOut()" *ngIf="isSignedIn" [routerLink]="['/landing']">
        <div class="flex cursor-pointer">
          <img alt="logout" height={24} src="/assets/assets/logout.svg" width={24}>
        </div>
      </a>
    </div>
    <a *ngIf="isSignedIn" [routerLink]="['/sign-in']" class="max-md:hidden px-3">
      <div class="relative">
        <img alt="" class="w-10 h-10 rounded" src="/assets/logo/hubler.png">
        <span
          class="absolute bottom-0 left-8 transform translate-y-1/4 w-3.5 h-3.5 bg-fuchsia-600 border-2 border-fuchsia-950 rounded-full"></span>
      </div>
    </a>
  </div>
</nav>

