.getstarted {
  background-image: linear-gradient(to right, #131313, #232323);
}

.getstarted:hover {
  background-image: linear-gradient(to right, #ec5e2a, #e516ff);
}

#dropdownDefaultRadio {
  transition: all 0.3s ease-out;
}
