<div *ngIf="!isSignedIn">
  <img alt="waving_man" class="z-10 fixed w-[15em] bottom-[20%] left-[3.5%] -rotate-45"
       src="/assets/people/glad_to_see.png">
  <img alt="waving_man" class="z-10 fixed w-[11em] bottom-[20%] right-[4%] rotate-[20deg]"
       src="/assets/people/orange-skirt.png">


  <div class="relative bg-gray-100 rounded-3xl overflow-hidden z-20 shadow-md">

    <div class="absolute inset-0 bg-cover bg-center"
         style="background-image: url('/assets/bg_signup.jpg'); filter: blur(1px);"></div>

    <div class="absolute inset-0 bg-gray-500 opacity-50"></div>

    <div class="py-8 px-12 mx-auto max-w-screen-xl grid grid-cols-2 gap-2 relative">
      <div class="flex flex-col justify-center">
        <h1
          class="mb-4 text-heading2-semibold font-extrabold tracking-tight leading-none text-gray-50 z-2 md:text-5xl lg:text-6xl dark:text-white">
          We invest in the world’s potential</h1>
        <p class="mb-6 text-heading4-medium font-light text-gray-100 z-2 lg:text-xl dark:text-gray-400">Here at Flowbite
          we
          focus on
          markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
        <a class="text-gray-50 hover:underline hover:text-gray-50 font-medium text-lg inline-flex items-center"
           href="/landing">Read
          more about our app
          <svg aria-hidden="true" class="w-3.5 h-3.5 ml-2" fill="none" viewBox="0 0 14 10"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M1 5h12m0 0L9 1m4 4L9 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"/>
          </svg>
        </a>
      </div>
      <div>
        <div class="lg:max-w-xl p-6 space-y-8 sm:p-8 rounded-3xl shadow-xl bg-slate-200">
          <h2 class="text-heading2-semibold text-gray-700">
            Sign up to Norman.io
          </h2>
          <form action="#" class="space-y-6">
            <div class="flex flex-wrap -mx-3">

            <div class="w-full md:w-1/2 px-3 mb-5">
              <label class="text-gray-500">First Name</label>
              <input
                class="bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-2 focus:ring-pink-main text-sm rounded-2xl block w-full p-2.5"
                placeholder="Enter your first name"
                required
                type="text">
            </div>
            <div class="w-full md:w-1/2 px-3 mb-5">
              <label class="text-gray-500">Last name</label>
              <input
                class="bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-2 focus:ring-pink-main text-sm rounded-2xl block w-full p-2.5"
                placeholder="Enter your last name"
                required
                type="text">
            </div>
              <div class="w-full md:w-1/2 px-3 mb-5">
              <label class="text-gray-500">Birth Date</label>
              <input
                class="bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-2 focus:ring-pink-main text-sm rounded-2xl block w-full p-2.5"
                type="date"
                required
                placeholder="Enter your birth date"
              >
            </div>
              <div class="w-full md:w-1/2 px-3 mb-5">
                <label class="text-gray-500">Email</label>
                <input
                  class="bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-2 focus:ring-pink-main text-sm rounded-2xl block w-full p-2.5"
                  id="email" name="email"
                  placeholder="name@company.com"
                  required
                  type="email">
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="text-gray-500">Password</label>
                <input
                  class="bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-2 focus:ring-pink-main text-sm rounded-2xl block w-full p-2.5"
                  id="password" name="password"
                  placeholder="••••••••"
                  required
                  type="password">
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="text-gray-500">Confirm Password</label>
                <input
                  class="bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-2 focus:ring-pink-main text-sm rounded-2xl block w-full p-2.5"
                  id="confirmpassword" name="confirmpassword"
                  placeholder="••••••••"
                  required
                  type="password">
              </div>
            </div>
            <button (click)="signIn()" [routerLink]="['/user']"
                    class="w-full bg-gradient-to-l from-indigo-400/80 to-pink-main/60 text-white text-base-medium rounded-3xl shadow-md py-2 active:bg-pink-main/80"
                    type="submit">
              Sign up
            </button>
            <div class="text-sm font-medium text-gray-500">
              Already have an account?
              <a [routerLink]="['/sign-in']"
                 class="px-3 py-1 text-xs text-amber-500 rounded-3xl bg-amber-200/40 border-2 border-amber-300/10 shadow-sm active:bg-orange-200">
                Sign in</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
