<div class="mx-auto px-6">
  <!-- User Information Card -->
  <div class="flex flex-row justify-end">
    <button (click)="cancelEdit()"
            *ngIf="isEditing"
            class="absolute text-gray-100 active:bg-red-600/80 bg-red-600 rounded-3xl text-sm w-6 h-6 ml-auto m-2 inline-flex justify-center items-center shadow-md"
            type="button">
      <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
        <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"/>
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <div class="bg-slate-100 rounded-3xl p-8 w-full mx-auto shadow-md">
    <div class="flex flex-row justify-end">
    </div>
    <!-- Nested User Card -->
    <div class="flex flex-row items-center justify-center gap-4 py-8 rounded-lg mb-6"
         style="background-image: url('/assets/bg_contact.jpg');">

      <div class="mt-6 text-center flex flex-col gap-2 w-1/4">
        <div class="bg-gray-50 bg-opacity-60 text-center rounded-2xl">
          <span class="text-[24px] font-medium border-0 text-gray-900">Name Surname</span>
        </div>
        <input
          type="email"
          class="text-[18px] py-0.5 font-medium bg-gray-100 bg-opacity-40 border-0 text-slate-700 text-center rounded-2xl cursor-not-allowed"
          disabled aria-describedby="emailHelp"
          value="jessica@gmail.com">
        <small id="emailHelp" class="text-gray-200 text-muted">We'll never share your email with anyone else.</small>
      </div>

    </div>
    <!-- User Information Details -->
    <form>
    <div class="flex flex-wrap -mx-3">
      <div class="w-full md:w-1/2 px-3 mb-6">
        <label class="text-gray-500">First Name</label>
        <input
          class="mt-1 p-2 w-full bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-pink-200 focus:ring-2 focus:border-none text-sm rounded-xl"
          placeholder="Enter your first name"
          type="text">
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <label class="text-gray-500">Last name</label>
        <input
          class="mt-1 p-2 w-full bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-pink-200 focus:ring-2 focus:border-none text-sm rounded-xl"
          placeholder="Enter your last name"
          type="text">
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <label class="text-gray-500">Birth Date</label>
        <input
          class="mt-1 p-2 w-full bg-gray-50 border-gray-300 text-gray-700 placeholder-gray-400 focus:ring-pink-200 focus:ring-2 focus:border-none text-sm rounded-xl"
          type="date"
          value="2001-01-01"
        >
      </div>
      <button
        (click)="isEditing ? saveProfile() : toggleEdit()"
        [ngClass]="{
        'text-purple-500 bg-purple-200/40 border-2 border-purple-200': !isEditing,
        'text-green-500 bg-green-100/70 border-2 border-green-200/30': isEditing,
        'active:bg-green-200/80': isEditing
        }"
        class="w-full mx-3 text-base-medium rounded-3xl py-2 shadow-md"
        type="button">{{ isEditing ? 'Save' : 'Edit' }}
      </button>


    </div>
    </form>
  </div>

</div>
